[build]
  command = "pnpm build"
  publish = "dist"

[context.production]
  environment = { NODE_VERSION = "24" }

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
